html{
    box-sizing: border-box;
    font-family: karla;
    font-size: 16px;
}
body{
    padding: 20px;
}
h4, h2, p{
    margin: 0%;
}

*, *::before, *::after{
    box-sizing: inherit;
}

/* Main container */
#card{
    /* border: solid red 1px; */
    width: 600px;
    height: 400px;
    box-shadow: 2px 3px 7px 0px rgb(0, 0, 0, .35);
    border-radius: 5px;
    overflow: hidden;
}

/* Top container */
#top-section{
    /* border: solid blue 1px; */
    width: 100%;
    height: 45%;
    padding: 15px;
}

/* Top section first heading */
#top-section h2{
    color: #2ab2af;
    padding: 10px;
}

/* Top section paragraph */
#top-section p{
    color: #98a6bd;
    padding: 8px;
}

/* Top container second heading */
#top-section h4{
    color: #c0df34;
    padding: 8px;
}

/* Main bottom container */
#bottom-section{
    /* border: solid black 1px; */
    width: 100%;
    height: 55%;
    color: white;
}

/* Left bottom container */
#bottom-left-section{
    /* border: solid yellow 2px; */
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    background-color: #2ab2af;
    padding: 25px;
}



/* Right bottom container */
#bottom-right-section{
    /* border: solid green 1px; */
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    background-color: #2EBFBD;
    padding: 20px;
}

/* bottom left container design */
#bottom-left-section h4{
    margin-bottom: 25px;
}

#bottom-left-section p{
    font-size: 0.7rem;
    margin-bottom: 10px;
}

/* price design*/
#price{
    font-weight: 700;
    font-size: 1.4rem;
}

#bottom-left-section h4{
    margin-bottom: 25px;
}

#bottom-left-section p{
    font-size: 0.7rem;
    margin-bottom: 10px;
}
#bottom-left-section h4{
    margin-bottom: 25px;
}

#bottom-left-section p{
    font-size: 0.7rem;
    margin-bottom: 10px;
}


/* button design */
button{
    color: white;
    background-color: #c0df34;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 9px;
    margin-top: 25px;
}

button:hover{
    cursor: pointer;
    background-color: #A9C42D;
    transform: scale(1.01);
}


/* List design */
ul{
    padding: 0;
    list-style: none;
    font-size: 0.8rem;
    opacity: 0.8;
}
